.BootstrapTree li{
	display: block;
}

.BootstrapTree span{
	margin: 1px;
}

.BootstrapTree li>ul{
	padding-left: 30px;
}

.BootstrapTree label{
	margin: 0 5px 0 5px;
	font-weight: 500;
	display: inline-block;
}

.BootstrapTree .notHasChildren{
	display: inline-block;
	margin-left: 14px;
}

.BootstrapTree .tree-unchecked{
	height: 14px;
	width: 14px;
	display: inline-block;
	margin-right: 1px;
	margin-top:1px;
}

.BootstrapTree .tree-check{
	height: 14px;
	width: 14px;
	display: inline-block;
	margin-right: 1px;
	margin-top:1px;
}

.BootstrapTree .treeOpen{
	height: 14px;
	width: 14px;
	display: inline-block;
	margin-right: 1px;
	margin-top:1px;
}

.BootstrapTree .treeClose{
	height: 14px;
	width: 14px;
	display: inline-block;
	margin-right: 1px;
	margin-top:1px;
}



